/* RegolaPro Regular */
@font-face {
  font-family: RegolaPro;
  src: url("https://antistatique.net/fonts/RegolaPro-Book.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: block;
}

/* RegolaPro Bold */
@font-face {
  font-family: RegolaPro;
  src: url("https://antistatique.net/fonts/RegolaPro-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: block;
}

/* Fragen Extra Bold */
@font-face {
  font-family: Fragen;
  src: url("https://antistatique.net/fonts/Fragen Extra Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: block;
}

/* Fragen Extra Bold Italic */
@font-face {
  font-family: Fragen;
  src: url("https://antistatique.net/fonts/Fragen Extra Bold Italic.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
  font-display: block;
}

/* Fira Code with variable font */
@font-face {
  font-family: 'Fira Code VF';
  src: url('https://antistatique.net/fonts/FiraCode-VF.woff2') format('woff2-variations');
  font-weight: 300 700;
  font-style: normal;
}